body {
    
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    
}

h2 {
    text-align:right;
    font-weight:bold;
    color:black;
    
}
h4 {
    text-align:right;
    font-weight:bold;
    color:black;
}
hr { 
    display:block;
    margin-top: 1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
    border-style: inset;
    border-width: 2px;
} 

#titles {
    font-size:larger;
    color:black;
    text-align: center;
}

#contents {
    font-size:medium;
    color:darkgrey;
    text-align: left;
}

